<div class="main-content">
  <div class="container-fluid">
    <div class="card card-profile">
      <div class="card-header card-header-danger">
        <h3 class="card-title">Create Education Agency</h3>
      </div>
      <div class="row">
        <div class="col-md-6 card-space">
          <div class="card-profile-image">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/default/school.png" ng2FileSelect [uploader]="uploader"/>
            </a>
          </div>
          <input class="image-selector" type="file" name="photo" ng2FileSelect [uploader]="uploader" />
          <button type="button" class="btn btn-success btn-s image-selector"
            (click)="uploader.uploadAll()"
            [disabled]="!uploader.getNotUploadedItems().length">
            Upload an Image
          </button>
        </div>
        <div class="card-content col-md-6">
          <form [formGroup]="addAgentForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="input-group">
                <input-header>Name:</input-header>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <input-header>Contact:</input-header>
                <input type="text" formControlName="tel-country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tel-country.errors }" />
                <span>-</span>
                <input type="text" formControlName="tel-contact" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tel-contact.errors }" />
                <div *ngIf="submitted && f.tel-country.errors" class="invalid-feedback">
                    <div *ngIf="f.tel-country.errors.required">Contact Country is required</div>
                </div>
                <div *ngIf="submitted && f.tel-contact.errors" class="invalid-feedback">
                  <div *ngIf="f.tel-contact.errors.required">Contact is required</div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <input-header>Email:</input-header>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <input-header for="promoText">Promo Text:</input-header>
                <textarea formControlName="promoText" class="form-control"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <input-header for="aboutUs">Abount Us:</input-header>
                <textarea type="text" formControlName="aboutUs" class="form-control"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <input-header for="targetEducationLevels">Target Education Levels:</input-header>
                <div class="checkbox-area">
                  <div *ngFor="let educationLevel of educationLevels" class="checkbox-option row">
                    <input type="checkbox" [checked]="[educationLevel.isChecked]" (change)="changeHandler($event)" formControlName="targetEducationLevels" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.targetEducationLevels.errors }" />
                    <span>{{educationLevel.name}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <input-header for="subjects">Subjects:</input-header>
                <div class="checkbox-area">
                  <div *ngFor="let subject of subjects" class="checkbox-option row">
                    <input type="checkbox" [checked]="[subject.isChecked]" (change)="changeHandler($event)" formControlName="subjects" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subjects.errors }" />
                    <span>{{subject.name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
