<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <br/>
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Username">
                            </div>
                        </form>
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="password" value="" class="form-control" placeholder="Password">
                            </div>
                        </form>
                        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <p>test login</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>