/*
.loginModule {
    width: 800px;
    margin-left: 10%;
    margin-top: 10%;
    background-color: rgb(223, 199, 226) !important;
    padding-left: 20px;
    padding-top: 20px;
}

label {
    color: black !important;
}

.form-group {
    margin-right: 100px;
    margin-bottom: 10px;
}

.form-control {
    background-color: whitesmoke;
    width: 300px;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    padding-left: 25px;
}
*/