<div class="main-content">
  <div class="container-fluid">
    <div class="card content">
      <form [formGroup]="agencyForm" (ngSubmit)="onSubmit()">
        <div class="card-header card-header-danger">
          <h3 class="card-title">Tutor Agency: {{tutorAgency.name}}</h3>
          <a *ngIf="!editModeEnabled" role="button" (click)="editMode()">
            <i class="material-icons text-color-silver">edit</i>
          </a>
          <a *ngIf="editModeEnabled" role="button" (click)="save()">
            <i class="material-icons text-color-silver">save</i>
          </a>
          <a *ngIf="editModeEnabled" role="button" (click)="cancel()">
            <i class="material-icons text-color-silver">cancel</i>
          </a>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="card card-item">
              <div class="card-item-image" (click)="fileInput.click()">
                <a>
                  <img class="img" [src]="profileImage" />
                  <input style="display: none" type="file" id="customFile" (change)="uploadProfileImage($event)" #fileInput>
                </a>
              </div>
            </div>
            <div class="col-md-8">
              <div>
                <h4 class="card-title">Introduction</h4>
              </div>
              <div *ngIf="!editModeEnabled">
                <span>{{tutorAgency.promoText}}</span>
              </div>
              <div *ngIf="editModeEnabled">
                <mat-form-field>
                  <mat-label>Add Some Introduction</mat-label>
                  <textarea formControlName="promoText" matInput placeholder="introduction...." value="{{tutorAgency.promoText}}"></textarea>
                </mat-form-field>
              </div>
              <br>
              <br>
              <div>
                <h4 class="card-title">About Us</h4>
              </div>
              <div *ngIf="!editModeEnabled">
                <span>{{tutorAgency.aboutUs}}</span>
              </div>
              <div *ngIf="editModeEnabled">
                <mat-form-field>
                  <mat-label>Added Some About Us</mat-label>
                  <textarea formControlName="aboutUs" matInput placeholder="about us...." value="{{tutorAgency.aboutUs}}"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-6">Featured: <span>{{tutorAgency.featured}}</span></div>
            <div *ngIf="!editModeEnabled" class="col-md-12">Phone: <span>{{tutorAgency.phone}}</span></div>
            <div class="col-md-6">
              <mat-form-field *ngIf="editModeEnabled">
                <input matInput formControlName="phone" placeholder="Phone" value="{{tutorAgency.phone}}" />
              </mat-form-field>
            </div>
            <div *ngIf="!editModeEnabled" class="col-md-12">Email: <span>{{tutorAgency.email}}</span></div>
            <div class="col-md-6">
              <mat-form-field *ngIf="editModeEnabled">
                <input matInput formControlName="email" placeholder="Email" value="{{tutorAgency.email}}" />
              </mat-form-field>
            </div>
            <div class="col-md-12"><span>Subjects: </span><span *ngIf="!editModeEnabled">{{tutorAgency.subjects}}</span></div>
            <div formArrayName="subjects" *ngIf="editModeEnabled" class="col-md-6">
              <mat-checkbox
                *ngFor="let subject of agencyForm.controls.subjects.controls; let i=index"
                [formControlName]="i"
                class="checkbox-item">
                  {{subjects[i].description}}
              </mat-checkbox>
            </div>
            <div class="col-md-12">Education Levels: <span *ngIf="!editModeEnabled">{{tutorAgency.targetEduLevels}}</span></div>
            <div formArrayName="educationLevels" *ngIf="editModeEnabled" class="col-md-6">
              <mat-checkbox
                *ngFor="let educationLevel of agencyForm.controls.educationLevels.controls; let i=index"
                [formControlName]="i"
                class="checkbox-item">
                  {{educationLevels[i].description}}
              </mat-checkbox>
            </div>
            <div class="col-md-12">Locations: <span *ngIf="!editModeEnabled">{{tutorAgency.locations}}</span></div>
            <div formArrayName="locations" *ngIf="editModeEnabled" class="col-md-6">
              <mat-checkbox
                *ngFor="let location of agencyForm.controls.locations.controls; let i=index"
                [formControlName]="i"
                class="checkbox-item">
                  {{locations[i].description}}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </form>
    </div>  
  </div>
</div>
