<div class="main-content">
  <div class="container-fluid">
    <!--
    <a href="/add-trainer" class="btn btn-danger btn-round">Add Trainer</a>  
    -->
    <div class="col-md-12">
      <div class="group">
        <div class="group-title">
          <span>Featured Tutor Agencies</span>
        </div>
        <div class="row">
          <div class="card card-item" *ngFor="let agency of featuredAgencies">
            <div class="card-item-image">
              <a (click) = "fileInput.click()">
                <img class="img" [src]="imagePath" />
                <input style="display: none" type="file" id="customFile" (change)="selectFile($event)" #fileInput>
              </a>
            </div>
            <div class="card-item-title">
              <span>{{agency.name}}</span>
            </div>
            <div class="card-item-text">
              <span>{{agency.targetEduLevels}}</span>
            </div>
            <div class="card-item-text">
              <span>{{agency.subjects}}</span>
            </div>
            <div class="card-item-text">
              <span>{{agency.phone}}</span>
            </div>
            <div class="card-item-text">
              <span>{{agency.email}}</span>
            </div>
            <div class="card-item-text">
              <span>{{agency.locations}}</span>
            </div>
            <div class="card-item-description">
              <span>{{agency.promoText}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="group">
      <div class="group-title">
        <span>Tutor Agency List</span>
      </div>
      <div class="row">
        <div class="card card-item" *ngFor="let agency of tutorAgencies">
          <div class="card-item-image">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/orion-tuition-centre-siteicon.png" />
            </a>
          </div>
          <div class="card-item-title">
            <span>{{agency.name}}</span>
          </div>
          <div class="card-item-text">
            <span>{{agency.targetEduLevels}}</span>
          </div>
          <div class="card-item-text">
            <span>{{agency.subjects}}</span>
          </div>
          <div class="card-item-text">
            <span>{{agency.phone}}</span>
          </div>
          <div class="card-item-text">
            <span>{{agency.email}}</span>
          </div>
          <div class="card-item-text">
            <span>{{agency.locations}}</span>
          </div>
          <div class="card-item-description">
            <span>{{agency.promoText}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
