<div class="main-content">
  <div class="container-fluid">
    <a href="/add-trainer" class="btn btn-danger btn-round">Add Trainer</a>  
    
    <div class="row">
        <div class="col-md-4">
          <div class="card card-profile">
              <div class="card-avatar">
                  <a href="javascript:void(0)">
                      <img class="img" src="./assets/img/faces/marc.jpg" />
                  </a>
              </div>
              <div class="card-body">
                  <h6 class="card-category text-gray">Assistant Professor</h6>
                  <h4 class="card-title">Zhao Jian</h4>
                  <p class="card-description">
                      Teaching in NUS since from 2005
                  </p>
                  <!--
                  <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  -->
                  <a href="javascript:void(0)" class="btn btn-danger btn-round">Edit Profile</a>
                </div>
          </div>
        </div>
        <div class="col-md-8" style="float:right">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-success">
                <h4 class="card-title">My Profile</h4>
                <p class="card-category">Last update on 23 Apr 2020, 12:12:12 PM</p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Username: NUS-LL123
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span class="text-success">
                      Email: test@test.com
                    </span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-info">
                <h4 class="card-title">Tutor Agent: NUS Life-Long Learning</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Branch: Bishan Branch
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Email: bbc_LLL@nus.edu
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span class="text-success">
                      TEL: 99999999
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      HQ Address: #11-11, Block 11111, Bishan Street 13
                      <br/>
                      Singapore 570000
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span class="text-success">
                      Branch Address: #11-11, Block 11111, Bishan Street 13
                      <br/>
                      Singapore 570000
                    </span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
