
  <div class="main-content">
    <div class="container-fluid">
   

        <div class="row">
          <div class="col-md-12">
            <div class="card" style = "width:55%">

              <div class="card-header card-header-danger">
                <h4 class="card-title "> Tutor Agent Approval </h4>
                <p class="card-category">Choose the below tutor agent and select the approval button </p>
              </div>

              <div class="card-body">
                <div class="table-responsive">

                  <table class="table" >
                    <thead class=" text-primary">
                    <th>Agent Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let agent of agents">
                      <ng-container *ngIf="agent.status != 'ARCHIVED'">
                        <td>{{agent.username}}</td>
                        <td>{{agent.email}}</td>
                        <td>{{agent.address}}</td>
                        <td>{{agent.status}}</td>
                        <td *ngIf="agent.status != 'APPROVED'"><button type="Approve" class="btn btn-primary" (click)="approve(agent.username)" 
                          >Approve</button></td>
                        <td *ngIf="agent.status == 'APPROVED'"></td>
                        <td *ngIf="agent.status != 'ARCHIVED'"><button type="Archive" class="btn btn-danger pull-right" (click)="archive(agent.username)" 
                            >Archive</button></td>
                        <td *ngIf="agent.status == 'ARCHIVED'"></td>
                      </ng-container>
                    </tr>
                  </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card">
            
        </div>
        </div>
      
  </div>
</div>