.left-panel {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 320px;
    background: $white-color;
    @include shadow-big();
}

.map {
    width: calc(100% - 320px) !important;
    float: right;
}