<div class="main-content">
  <div class="container-fluid">
    <div class="row content">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a (click) = "fileInput.click()">
              <img class="img" [src]="imagePath" />
              <input style="display: none" type="file" id="customFile" (change)="selectFile($event)" #fileInput>
            </a>
          </div>

          <!--
            <button class="btn btn-primary" [disabled]="!selectedFiles || admincheck || status" (click)="upload()">Save File</button>
            <button class="btn btn-primary" style="margin-left: 10px" (click)="downloadFile()">View File</button>
          -->     

          <div class="card-body">
            <h6 class="card-category text-gray">{{userRole}}</h6>
              <h4 class="card-title">{{user.username}}</h4>
              <p class="card-description">
                {{user.email}}
              </p>
              <!--
                <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
              -->
              <button *ngIf="!editModeEnabled" [disabled]="loading" (click)="editProfile()" class="btn btn-danger btn-round">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Edit Profile
              </button>
              <button *ngIf="editModeEnabled" (click)="saveProfile()" class="btn btn-danger btn-round">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save Profile
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-8" style="float:right">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-success">
                <h4 class="card-title">My Profile</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Username: {{user.username}}
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span *ngIf="!editModeEnabled" class="text-success">Email: </span>
                    <mat-form-field *ngIf="editModeEnabled" class="user-profile-full-width" value="{{user.email}}">
                      <input matInput placeholder="Email" />
                    </mat-form-field>
                    <span *ngIf="!editModeEnabled" class="text-success">
                      {{user.email}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span *ngIf="!editModeEnabled" class="text-success">First Name: </span>
                    <mat-form-field *ngIf="editModeEnabled" class="user-profile-full-width" value="{{user.firstName}}">
                      <input matInput placeholder="First Name" />
                    </mat-form-field>
                    <span *ngIf="!editModeEnabled" class="text-success">
                      {{user.firstName}}
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span *ngIf="!editModeEnabled" class="text-success">Last Name: </span>
                    <mat-form-field *ngIf="editModeEnabled" class="user-profile-full-width" value="{{user.lastName}}">
                      <input matInput placeholder="Last Name" />
                    </mat-form-field>
                    <span *ngIf="!editModeEnabled" class="text-success">
                      {{user.lastName}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Registration Date: {{user.registrationDatetime}}
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span class="text-success">
                      Last Login Date: {{user.lastLoginDatetime}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">Birth Date: </span>
                    <mat-form-field *ngIf="editModeEnabled">
                      <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    <span *ngIf="!editModeEnabled" class="text-success">
                      {{user.birthDate}}
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span class="text-success">Gender: </span>
                    <div *ngIf="editModeEnabled">
                      <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <span *ngIf="!editModeEnabled" class="text-success">
                      {{user.gender}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Address
                    </span>
                  </div>
                </div>
                <div *ngIf="user.address != null || editModeEnabled" class="row">
                  <div class="col-md-5">
                    <span *ngIf="!editModeEnabled" class="text-success">
                      Block:
                    </span>
                    <mat-form-field *ngIf="editModeEnabled" class="user-profile-full-width">
                      <input matInput placeholder="Block" />
                    </mat-form-field>
                    <span *ngIf="!editModeEnabled" class="text-success">
                      {{user.address.blockNo}}
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span *ngIf="!editModeEnabled" class="text-success">
                      Unit:
                    </span>
                    <mat-form-field *ngIf="editModeEnabled" class="user-profile-full-width">
                      <input matInput placeholder="Unit" />
                    </mat-form-field>
                    <span *ngIf="!editModeEnabled" class="text-success">
                      {{user.address.unitNo}}
                    </span>
                  </div>
                </div>
                <div *ngIf="user.address != null || editModeEnabled" class="row">
                  <div class="col-md-5">
                    <span *ngIf="!editModeEnabled" class="text-success">
                      Street:
                    </span>
                    <mat-form-field *ngIf="editModeEnabled" class="user-profile-full-width">
                      <input matInput placeholder="Street" />
                    </mat-form-field>
                    <span *ngIf="!editModeEnabled" class="text-success">
                      {{user.address.street}}
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span *ngIf="!editModeEnabled" class="text-success">
                      PostalCode:
                    </span>
                    <mat-form-field *ngIf="editModeEnabled" class="user-profile-full-width">
                      <input matInput placeholder="PostalCode" />
                    </mat-form-field>
                    <span *ngIf="!editModeEnabled" class="text-success">
                      {{user.address.postalCode}}
                    </span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-info">
                <h4 class="card-title">Agency: {{tutorAgency.name}}</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <span class="text-success">
                      Introduction: {{tutorAgency.promoText}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <span class="text-success">
                      About Us: {{tutorAgency.aboutUs}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Email: {{tutorAgency.email}}
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span class="text-success">
                      TEL: {{tutorAgency.phone}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Education Levels: {{tutorAgency.targetEduLevels}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Subjects: {{tutorAgency.subjects}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Locations: {{tutorAgency.locations}}
                    </span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
