<div class="main-content">
  <div class="container-fluid">
    <div class="row content">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a (click) = "fileInput.click()">
              <img class="img" [src]="imagePath" />
              <input style="display: none" type="file" id="customFile" (change)="selectFile($event)" #fileInput>
            </a>
          </div>

          <!--
            <button class="btn btn-primary" [disabled]="!selectedFiles || admincheck || status" (click)="upload()">Save File</button>
            <button class="btn btn-primary" style="margin-left: 10px" (click)="downloadFile()">View File</button>
          -->     

          <div class="card-body">
            <h6 class="card-category text-gray">{{user.role.roleDesc}}</h6>
              <h4 class="card-title">{{user.username}}</h4>
              <p class="card-description">
                {{user.email}}
              </p>
              <!--
                <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
              -->
              <a href="javascript:void(0)" class="btn btn-danger btn-round">Edit Profile</a>
            </div>
          </div>
        </div>
        <div class="col-md-8" style="float:right">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-success">
                <h4 class="card-title">My Profile</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Username: {{user.username}}
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span class="text-success">
                      Email: {{user.email}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      First Name: {{user.firstName}}
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span class="text-success">
                      Last Name: {{user.lastName}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Registration Date: {{user.registrationDatetime}}
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span class="text-success">
                      Last Login Date: {{user.lastLoginDatetime}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Birth Date: {{user.birthDate}}
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span class="text-success">
                      Gender: {{user.gender}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Address: {{user.address}}
                    </span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-info">
                <h4 class="card-title">Agency: {{tutorAgency.name}}</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      {{tutorAgency.promoText}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      About Us: {{tutorAgency.aboutUs}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Email: {{tutorAgency.email}}
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span class="text-success">
                      TEL: {{tutorAgency.phone}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Education Levels: {{tutorAgency.targetEduLevels}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Subjects: {{tutorAgency.subjects}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <span class="text-success">
                      Locations: {{tutorAgency.locations}}
                    </span>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
